.container {
  margin-left: 44px;
  margin-right: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 83px;
}

.stepTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 16px;
}

.img {
  width: 310px;
}

.stepsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stepItem {
  margin-bottom: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ctaContainer {
  background: url("./ctabackground.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 224px;
}
.filledbutton {
  width: 398px;
  height: 44px;
  border: 0px solid white;
  background: #b0c8e0;
  color: #061c33;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 24px;
}

.outlinedbutton {
  width: 398px;
  height: 44px;
  border: 1px solid #b0c8e0;
  background: rgba(255, 255, 255, 0);
  color: #b0c8e0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
